<div class="testDetails">
  <div class="card">
    <div class="card-header">
      <div class="d-flex flex-row align-items-center justify-content-between">
        <div>
          Test Details
        </div>
        <div>
          <a href="#" class="mx-4">Full View</a>
          <i class="fa fa-times fa-fw " aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="card-body">
      
      <div class="row align-items-start">
        <div class="col-md-5 col-lg-5 col-12 order-md-12 col-custom">
          <video width="100%" height="166" poster="assets/images/compare-img.jpg" controls="">
            <source src="assets/video/ghoomar.mp4" type="video/mp4">
            <source src="movie.ogg" type="video/ogg"> 
              Your browser does not support the video tag.
          </video>
        </div>
        <div class="col-md-7 col-lg-7 col-12 order-md-1">
          <div class="testDetailsContent">
            <h6 class="mb-3">Build-1/
              <span class="code">
                 FS-006S
              </span>
            </h6>

            <div class="row align-items-center">
              <div class="col-md-6 col-lg-6 col-12 small mb-2" *ngFor="let item of testDetails">
                <strong>
                  {{item.title}}:
                </strong>
                <span class="text-muted">
                  {{item.description}}
                </span>
              </div>
              <div class="col-12 small mb-2">
                <strong>
                   Base URL: 
                </strong>
                <span class="text-muted">
                   https://www.lambdatest.com/
                </span>
              </div>
              <div class="col-12 small">
                <strong class='mr-2'>
                  Environment:
                </strong>
                <span class="text-muted">
                    <img width="10" height="10" src="assets/images/windows.svg" class="img-fluid"> Windows 10 | <img width="10" height="10" src="assets/images/chrome.svg" class="img-fluid"> Chrome 40.0 | <img width="10" height="10" src="assets/images/computer.svg" class="img-fluid"> 1920 x 1080
                </span>
              </div>
            </div>

          </div>
        </div>
      </div>


      <app-test-details-data></app-test-details-data>

   
    </div>
  </div>
</div>